@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

.doto-font {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-doto: "Doto", serif;
  --font-inter: "Inter", serif;
}

body {
  @apply bg-neutral-950 text-neutral-100 max-w-[90%] md:max-w-[70%] mx-auto;
}

::selection {
  @apply bg-neutral-800/50;
}